---
import BaseHead from "../components/BaseHead.astro";
// import Header from '../components/Header.astro';
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
export const prerender = false;
import Header from "../components/common/Header.vue";
import Header1 from "../components/common/Header.astro";
import MainLayout from "../layouts/main.astro";
import { Icon } from "astro-icon";
import "swiper/css";
import "../styles/main.css";
import "../styles/global.css";
const state = {
	showTopBanner: true,
	showSpinner: true
};
// const post = await fetch("http://127.0.0.1:8000/api/v1/header/menus")
// const {data} = await post.json()
// console.log(data)
const tStageBrand = [
	"Mancandy",
	"Valentino",
	"Hatra",
	"Carla Fernandez",
	"Xander Zhou",
	"C+Plus Series",
	"Kiss the Future",
	"Tanja Uvera",
	"Todd Snyder",
];

const hotBrand = [
	{
		name: "Louis Vuitton",
		area: "Paris",
		logo: 'https://img.ssfshop.com/display/category/THM/A30/A16/contents/22457_248482_1_KOR_20221020140542.png',
		images: [
			"https://imgf1.pop-fashion.com/styles/2023/1020/F_399_20231020104213/man/2324AW/159/outerwear/jacket/19/middle/91afadca-a21d-4273-8d7e-cf9f862af827.JPG",
			"https://imgf1.pop-fashion.com/styles/2023/1020/202310200000210691/women/2324AW/7/outerwear/jacket/202310200023193581/middle/9756f271-6bbd-4d5a-9a53-66728bb0373a.JPG",
			"https://imgf3.pop-fashion.com/styles/2023/1023/F_393_20231023190514/man/2324AW/159/outerwear/puffa_jacket/39/middle/c4b5a343-8601-403a-9cd2-8348478d761d.jpg",
			"https://imgf3.pop-fashion.com/styles/2023/1018/F_424_20231018105138/women/2324AW/8/outerwear/coat/4/middle/fee862d8-fbc4-4f87-acd3-b22e76870f38.jpg",
			"https://imgf1.pop-fashion.com/styles/2023/1020/202310200000210690/women/2324AW/7/suit/fashion_suit/202310200023193537/middle/b1f9a1e5-167c-4013-8b19-db6287349c19.JPG",
			"https://imgf1.pop-fashion.com/styles/2023/1020/202310200000210690/women/2324AW/7/suit/fashion_suit/202310200023193539/middle/d05c6060-80d5-4ed7-b159-d99fa6d4ab7a.JPG",
		],
	},
	{
		name: "BOSS",
		area: "Paris",
		logo: 'https://img.ssfshop.com/display/category/THM/A30/A16/contents/22457_248482_1_KOR_20221020140542.png',
		images: [
			"https://imgf1.pop-fashion.com/styles/2023/1020/F_399_20231020104213/man/2324AW/159/outerwear/jacket/19/middle/91afadca-a21d-4273-8d7e-cf9f862af827.JPG",
			"https://imgf1.pop-fashion.com/styles/2023/1020/202310200000210691/women/2324AW/7/outerwear/jacket/202310200023193581/middle/9756f271-6bbd-4d5a-9a53-66728bb0373a.JPG",
			"https://imgf3.pop-fashion.com/styles/2023/1023/F_393_20231023190514/man/2324AW/159/outerwear/puffa_jacket/39/middle/c4b5a343-8601-403a-9cd2-8348478d761d.jpg",
			"https://imgf3.pop-fashion.com/styles/2023/1018/F_424_20231018105138/women/2324AW/8/outerwear/coat/4/middle/fee862d8-fbc4-4f87-acd3-b22e76870f38.jpg",
			"https://imgf1.pop-fashion.com/styles/2023/1020/202310200000210690/women/2324AW/7/suit/fashion_suit/202310200023193537/middle/b1f9a1e5-167c-4013-8b19-db6287349c19.JPG",
			"https://imgf1.pop-fashion.com/styles/2023/1020/202310200000210690/women/2324AW/7/suit/fashion_suit/202310200023193539/middle/d05c6060-80d5-4ed7-b159-d99fa6d4ab7a.JPG",
		],
	},
	{
		name: "Adidas",
		area: "USA",
		logo: 'https://img.ssfshop.com/display/category/THM/A30/A16/contents/22457_248481_61_KOR_20230908110236.png',
		images: [
			"https://imgf1.pop-fashion.com/styles/2023/1020/F_399_20231020104213/man/2324AW/159/outerwear/jacket/19/middle/91afadca-a21d-4273-8d7e-cf9f862af827.JPG",
			"https://imgf1.pop-fashion.com/styles/2023/1020/202310200000210691/women/2324AW/7/outerwear/jacket/202310200023193581/middle/9756f271-6bbd-4d5a-9a53-66728bb0373a.JPG",
			"https://imgf3.pop-fashion.com/styles/2023/1023/F_393_20231023190514/man/2324AW/159/outerwear/puffa_jacket/39/middle/c4b5a343-8601-403a-9cd2-8348478d761d.jpg",
			"https://imgf3.pop-fashion.com/styles/2023/1018/F_424_20231018105138/women/2324AW/8/outerwear/coat/4/middle/fee862d8-fbc4-4f87-acd3-b22e76870f38.jpg",
			"https://imgf1.pop-fashion.com/styles/2023/1020/202310200000210690/women/2324AW/7/suit/fashion_suit/202310200023193537/middle/b1f9a1e5-167c-4013-8b19-db6287349c19.JPG",
			"https://imgf1.pop-fashion.com/styles/2023/1020/202310200000210690/women/2324AW/7/suit/fashion_suit/202310200023193539/middle/d05c6060-80d5-4ed7-b159-d99fa6d4ab7a.JPG",
		],
	},
	{
		name: "PRADA",
		area: "Paris",
		logo: 'https://img.ssfshop.com/display/category/THM/A30/A16/contents/22457_248482_1_KOR_20221020140542.png',
		images: [
			"https://imgf1.pop-fashion.com/styles/2023/1020/F_399_20231020104213/man/2324AW/159/outerwear/jacket/19/middle/91afadca-a21d-4273-8d7e-cf9f862af827.JPG",
			"https://imgf1.pop-fashion.com/styles/2023/1020/202310200000210691/women/2324AW/7/outerwear/jacket/202310200023193581/middle/9756f271-6bbd-4d5a-9a53-66728bb0373a.JPG",
			"https://imgf3.pop-fashion.com/styles/2023/1023/F_393_20231023190514/man/2324AW/159/outerwear/puffa_jacket/39/middle/c4b5a343-8601-403a-9cd2-8348478d761d.jpg",
			"https://imgf3.pop-fashion.com/styles/2023/1018/F_424_20231018105138/women/2324AW/8/outerwear/coat/4/middle/fee862d8-fbc4-4f87-acd3-b22e76870f38.jpg",
			"https://imgf1.pop-fashion.com/styles/2023/1020/202310200000210690/women/2324AW/7/suit/fashion_suit/202310200023193537/middle/b1f9a1e5-167c-4013-8b19-db6287349c19.JPG",
			"https://imgf1.pop-fashion.com/styles/2023/1020/202310200000210690/women/2324AW/7/suit/fashion_suit/202310200023193539/middle/d05c6060-80d5-4ed7-b159-d99fa6d4ab7a.JPG",
		],
	},
];

const hues = [
	{
		hex: '15-4304 TPG PANTONE',
		title: 'Pastel  Turquoise',
		name: '浅松石绿',
		color: '#95c5c6'
	},
	{
		hex: '15-4304 TPG PANTONE',
		title: 'Pastel  Turquoise',
		name: '浅松石绿',
		color: '#95c5c6'
	},
	{
		hex: '15-4304 TPG PANTONE',
		title: 'Pastel  Turquoise',
		name: '浅松石绿',
		color: '#95c5c6'
	},
	{
		hex: '15-4304 TPG PANTONE',
		title: 'Pastel  Turquoise',
		name: '浅松石绿',
		color: '#95c5c6'
	},
	{
		hex: '15-4304 TPG PANTONE',
		title: 'Pastel  Turquoise',
		name: '浅松石绿',
		color: '#95c5c6'
	},
	{
		hex: '15-4304 TPG PANTONE',
		title: 'Pastel  Turquoise',
		name: '浅松石绿',
		color: '#95c5c6'
	}

];
---

<style>
	.swiper {
		width: 100%;
		height: 100%;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.selection-box {
		grid-template-columns: 3fr 1.5fr;
	}

	.show-wrap .box-left {
		-webkit-box-flex: 1;
		-webkit-flex: auto;
		-moz-box-flex: 1;
		-ms-flex: auto;
		flex: auto;
		position: relative;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		/* padding-left:12.61167%; */
	}

	.show-wrap .box-left .show-img {
		margin-left: 10%;
		padding-top: 50%;
		position: relative;
	}

	.show-wrap .box-left .data-list {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		/* opacity: 0; */
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.show-wrap .box-left .show-title {
		position: absolute;
		top: 32px;
		left: 32px;
	}

	.inner {
		--innerWidth: 1920px;
		width: 100%;
		max-width: var(--innerWidth);
		margin: 0 auto;
		padding: 0 var(--pad-inner);
	}

	.swiper {
		overflow: hidden;
	}

	#content {
		flex: 1;
	}

	.block {
		margin-top: clamp(20px, 3vw, 50px);
		margin-bottom: clamp(50px, 20vw, 200px);
	}

	.block--mb-s {
		margin-bottom: clamp(50px, 20vw, 100px);
	}

	.block--private {
		position: relative;
		display: flex;
		align-items: center;
		min-height: calc(100vh - 71px);
		margin: 0;
		padding: clamp(50px, 20vw, 100px) 0;
		background: rgba(0, 0, 0, 0.7);
	}

	.block--private .c-heading,
	.block--private .c-view-all {
		color: #fff;
	}

	.block--private .bg-private {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		-o-object-fit: contain;
		object-fit: contain;
	}

	.block[class*="--bg"] {
		margin: clamp(50px, 20vw, 200px) 0;
		padding: 100px 0;
	}

	.block[class*="--gray"] {
		background: var(--bg-3rd);
	}

	.text-item:hover svg {
		display: block;
	}

	.text-item:hover span {
		color: #fff;
		text-decoration: underline;
	}

	.brand-toggle-progress {
		height: 2px;
		background-color: #000;
	}

	.hues-wrap {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		width: 100%;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

.section-hues-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.8%;
  margin-bottom: 0.5rem;
  padding: 0.75rem 0.5rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 3px solid #000;
  border-radius: 5px;
  color: #181818;
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.section-hues-row:hover {
  background-color: #f6efef;
}

.hues-wrap{
	grid-template-columns: 1fr 3fr;
}
</style>
<MainLayout
	showSpinner = {state.showSpinner}
>
	<div
		class="selection-box show-wrap grid rounded-2xl bg-slate-950 text-white"
	>
		<div class="box-left flex">
			<div class="show-title">
				<div class="main-title">
					<div class="sub-title text-2xl font-bold">
						RUNWAY GALLERY
					</div>
				</div>
				<div class="sub-title text-2xl font-bold">当下秀场</div>
			</div>
			<div class="show-img w-full">
				<div class="data-list">
					<div
						class=""
						style="height:0px;position:relative;padding-top:50%;"
					>
						<a
							href="/detail/listDetail?channel=20850&subject_id=0&folder_id=152151&mode=2&data_type=1&p=1"
							target="_blank"
							class="img-list flex"
							style="height: 100%;
							width: 100%;
							position: absolute;
							top: 0px;
							left: 0px;"
						>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1909/Mancandy_2024春夏_墨西哥_风衣_-_-20231019094115419628_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1909/Mancandy_2024春夏_墨西哥_-_-20231019094116674984_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1909/Mancandy_2024春夏_墨西哥_短裤_-_-20231019094116309504_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
						</a>
					</div>
					<p class="text-xl text-right pt-4">
						2024春夏墨西哥(Mancandy)男女装发布会
					</p>
				</div>
				<div class="data-list hidden">
					<div class="">
						<a
							href="/detail/listDetail?channel=20850&subject_id=0&folder_id=152153&mode=2&data_type=1&p=1"
							target="_blank"
							class="img-list flex"
						>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1910/Oscar_de_la_Renta_2024_25秋冬_纽约_皮裙_-_-20231019100722995643_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1910/Oscar_de_la_Renta_2024_25秋冬_纽约_-_-20231019100722464282_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
							<div class="el-image img-item">
								<img
									src="https://img00.sxxl.com/adption/2023/1019/1910/Oscar_de_la_Renta_2024_25秋冬_纽约_婚纱_-_-20231019100722554316_c_600_900_100.jpg"
									class="el-image__inner"
									style="object-fit: cover;"
								/>
							</div>
						</a>
					</div>
					<p class="data-title" style="color:#1f1f1f;">
						2024/25秋冬纽约(Oscar de la Renta)婚纱礼服发布会
					</p>
				</div>
			</div>
		</div>
		<div class="box-right">
			<div class="text-list flex items-center flex-col my-10">
				{
					tStageBrand.map((data) => (
						<div class="text-item pt-10">
							<div class="text-box">
								<a
									href="/"
									target="_blank"
									class="font-bold text-5xl flex"
								>
									<span class="text-slate-500">{data}</span>
									<Icon name="ion:chevron-right" class="w-10 hidden pl-1" />
								</a>
							</div>
						</div>
					))
				}
			</div>
		</div>
	</div>
	<div class="block">
		<div class="inner">
			<div class="c-heading c-heading--small">
				<div class="c-heading__top">
					<h4>TOP PICKS FOR YOU</h4>
				</div>
				<div class="c-heading__middle">
					<div class="c-heading__between">
						<h3 class="font-bold text-6xl">热门品牌</h3>
						<h3 class="font-bold text-4xl">专业趋势团队精选款</h3>
						<div class="text-right">
							Don't miss the <strong>latest</strong> happenings on


							<strong>awwwards</strong>.
						</div>
					</div>
				</div>
			</div>
			<div class="l-list-sites pt-14">
				<ul class="flex items-center justify-center">
					{
						hotBrand.map(data => (
							<li>
								<a>
									<div class="brand-box">
										<img class="swiper-lazy swiper-lazy-loaded" src={data.logo} />
									</div>
									<span class="tit">{data.name}</span>
								</a>
							</li>
						))
					}
				</ul>
				<div class="swiper mySwiper">
					<div class="swiper-wrapper">
						{
							hotBrand.map((data) => (
								<div class="swiper-slide">
									<div class="flex">
										{data.images.map((image) => (
											<div class="mx-2">
												<img
													src={image}
													loading="lazy"
												/>
											</div>
										))}
									</div>
								</div>
							))
						}
					</div>
				</div>
			</div>
			<div class="brand-swiper-pagination flex items-center">
				<div class="w-full p-4">
					<div class="brand-toggle-progress mt-2"></div>
				</div>
				<div class="brand-toggle-prev">
					<Icon name="mdi-light:arrow-left-circle" class="w-8"></Icon>
				</div>
				<div class="brand-toggle-next">
					<Icon name="mdi-light:arrow-right-circle" class="w-8"></Icon>
				</div>
			</div>
			<div class="l-list-sites__col">
				热门推荐 : 上衣 外套 裙 裤 套装 家居装 内衣 婚纱 礼服 泳装
				婴儿服 帽子 围巾
			</div>
		</div>
	</div>
	<div class="hues-wrap grid">
		<div class="hues-select-wrapper flex flex-col justify-center">
			{
				hues.map(data => (
					<a class="section-hues-row tooltipstered">
						<div class="flex-vertical">
							<div class="hue"></div>
							<div class="hue-title">{ data.title }</div>
						</div>
						<div class="hue-hex">{ data.hex }</div>
						<div class="hue-name">{ data.name }</div>
					</a>
				))
			}
		</div>
		<div class="hues-image-wrapper flex">
			{
				hotBrand.map(e => (
					<div class="mx-2">
						<img src="https://imgf3.pop-fashion.com/styles/2023/1018/F_424_20231018105138/women/2324AW/8/outerwear/coat/4/middle/fee862d8-fbc4-4f87-acd3-b22e76870f38.jpg" loading="lazy" />
					</div>
				))
			}
		</div>
	</div>
	<script>
		import Swiper from "swiper/bundle";
		import "swiper/css/bundle";
		const progressCircle = document.querySelector(
			".autoplay-progress svg",
		);
		const progressContent = document.querySelector(
			".autoplay-progress span",
		);

		const progressDiv = document.querySelector(
			".brand-toggle-progress",
		);

		var swiper = new Swiper(".mySwiper", {
			loop: true,
			spaceBetween: 30,
			centeredSlides: true,
			autoplay: {
				delay: 5000,
				disableOnInteraction: false,
			},
			navigation: {
				nextEl: ".brand-toggle-next",
				prevEl: ".brand-toggle-prev",
			},
			on: {
				autoplayTimeLeft(s, time, progress) {
					// progressCircle.style.setProperty(
					// 	"--progress",
					// 	1 - progress,
					// );

					progressDiv.style.setProperty(
						"width",
						(1 - progress) * 100 + "%"
					)
					// progressContent.textContent = `${Math.ceil(
					// 	time / 1000,
					// )}s`;
				},
			},
		});
	</script>
</MainLayout>
